{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{title}}</h1>
    <div id="auctions-container">
        {% for n,stuff_in_watchlist in auction %}
            <div id="card">
                <h2>{{ n.title }}
                    {% if not n.isActive %}
                    <button class="btn disabled">Closed</button>
                    {% endif %}
                </h2>
                <div style="height: 200px;">
                    <img id="img" src="{{n.image}}" onerror="standby()"/>
                </div>
                    <p>Current bid: £{{ n.bid }}.00</p>
                    <h5 style="margin-bottom:0px;">Description</h5>
                    <textarea style="resize:none;margin-bottom:10px;width:95%" cols="39" rows="4" readonly>{{ n.description }}</textarea>
                    {% if user.is_authenticated %}
                        {% if stuff_in_watchlist %}
                            <a id="remove-watchlist" href="{% url 'remove_from_watchlist' n.pk %}?next={{path}}&number=0">Remove Watchlist</a>
                        {% else %}
                            <a href="{% url 'add_to_watchlist' n.pk %}?next={{path}}&number=0">Add Watchlist</a>
                        {% endif %}
                        <a href="{% url 'listing_page' n.pk %}">View</a>
                    {% else %}
                        <a href="{% url 'listing_page' n.pk %}" style="padding-top:10px;padding-bottom:10px">View</a>
                    {% endif %}
            </div>
        {% endfor %}
        <div style="clear:left">
        </div>
    </div>

{% endblock %}